.footer-container {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 40px 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
    gap: 20px;
  }
  
  .footer-column {
    flex: 1 1 1;
    min-width: 200px;
  }
  
  .footer-column h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .footer-column p,
  .footer-column ul {
    color: #E9E3D9;
    font-weight: 400;
    font-size: 16px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #E9E3D9;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline transparent;
  }
  
  .footer-column ul li a:hover {
    color: #d6a04c;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 15px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icon:hover {
    transform: rotate(360deg);
    color: #d6a04c;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
   
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .footer-column {
      text-align: left;
    }

  }
  